.headtitle{
	text-align:center;
	font-size:22px;
	margin-top:0px;
}
.headText{
	text-align:center;
	font-size:16px;
	margin-bottom:40px;
}
.footText{
	text-align:center;
	margin-bottom:20px;
}
.bdHeadtable{
	width:100%;
	border-collapse:collapse;
	border-spacing:0;
}
.bdFoottable{
	width:100%;
	border-collapse:collapse;
	border-spacing:0;
	margin-bottom:20px;
}
.listHeadtable{
	width:100%;
	border-collapse:collapse;
	border-spacing:0;
	border-left:2px solid #000;
	border-top:2px solid #000;
	border-right:2px solid #000;
}
.listBodytable{
	width:100%;
	border-collapse:collapse;
	border-spacing:0;
	border-left:2px solid #000;
}
.bdHead{
	width:33%;
}
.bdFoot{
	width:33%;
	vertical-align:top;
	white-space:nowrap;
}
.listHead{
	border-top:1px solid #000;
	border-bottom:2px solid #000;
	border-right:1px solid #000;
	text-align:center;
}
.listBody{
	border-bottom:1px solid #000;
	border-right:1px solid #000;
}
.pageSize{
	text-align:center;
	font-size:10px;
	color:#000;
}
.qrcode{
	position:absolute;
	top:0px;
	right:0px;
	display:none;
}
.barcord{
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.pagediv{
	page-break-after:always;
	position:relative;
	font-size:12px;
	margin:50px;
	background-color:#fff;
	border:50px solid #fff;
	box-shadow: 3px 3px 10px #999;
	color:#000;
}
