.preloader{position: fixed; left: 0; top: 0; right: 0; bottom: 0; width: 100%; height: 100%; background: #f1f3f2; z-index: 100500; }
.preloader span {display: block; position: absolute; left: 50%; top: 50%; width: 50px; height: 50px; margin-top: -25px; margin-left: -25px; border: 2px solid transparent; border-top-color: #ff6400; border-radius: 50%; z-index: 1001;-webkit-animation: spin 2.5s infinite linear; animation: spin 2.5s infinite linear;}
.preloader span:before, .preloader span:after { content: ''; position: absolute; border-radius: 50%; }
.preloader span:before {top: 4px; left: 4px; right: 4px; bottom: 4px; border: 2px solid transparent; border-top-color: #088cdc; -webkit-animation: spin 2s infinite linear; animation: spin 2s infinite linear; }
.preloader span:after {top: 9px; left: 9px; right: 9px; bottom: 9px; border: 2px solid transparent; border-top-color: #52bf81; -webkit-animation: spin 1s infinite linear; animation: spin 1s infinite linear; }
@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0); transform: rotate(0); }100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
@keyframes spin { 0% { -webkit-transform: rotate(0); transform: rotate(0); }100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
.homttitleimg
{
    position:absolute;
    width:24px;
    top:4px;
    left:18px;
    opacity:0.7;
    filter:alpha(opacity=70);
    }
.homeversion{
    position:absolute;
	left:118px;
	bottom:-1px;
	font-size:12px;
	font-family:Staccato;
	display:none;
}
.homeversionIE{
    position:absolute;
	left:105px;
	bottom:0px;
	font-size:12px;
	display:none;
}
div{
	font-family:微软雅黑;
}
.homelogo{
	width:60px;
    position:absolute;
	left:10px;
	bottom:-10px;
	filter:alpha(opacity=0);
	-webkit-filter:opacity(0);
}
.hometitleX
{
    position:absolute;
	font-size:55px;
	margin-top:-16px;
	margin-left:93px;
	font-family:Staccato;
	display:none;
    }
.hometitle{
    position:absolute;
	left:68px;
	bottom:-1px;
	font-size:16px;
	display:none;
}
.hometitlethemesbtn{
    position:absolute;
	right:30px;
	bottom:2px;
}
.homedelbtn{
    position:absolute;
	right:2px;
	bottom:2px;
}
.browser-functionbtn{
    position:absolute;
	right:1px;
}
.lines-both .datagrid-body td{
}
.lines-no .datagrid-body td{
	border-right:1px dotted transparent;
	border-bottom:1px dotted transparent;
}
.lines-right .datagrid-body td{
	border-bottom:1px dotted transparent;
}
.lines-bottom .datagrid-body td{
	border-right:1px dotted transparent;
}
.datagrid-header-rownumber,.datagrid-cell-rownumber{
	width:40px!important;
}
.tabs-tool{
	border-bottom:0px!important;
	border-right:0px!important;
}
.tabs-scroller-right{
	border-bottom:0px!important;
	border-right:0px!important;
}
.tabs-scroller-left{
	border-bottom:0px!important;
	border-left:0px!important;
}
.querywizardfilter{}