/*
2018-4-22 icons32 zz
*/
/*修改原图标begin 2018-4-22 zz*/
.tree-folder{
	background:url('icon32/RecentlyUsedFolder.png') no-repeat center center!important;
	background-size:16px 16px!important;
}
.tree-folder-open{
	background:url('icon32/FileOpen_custom.png') no-repeat center center!important;
	background-size:16px 16px!important;
}
.tree-file{
	background:url('icon32/FileNew.png') no-repeat center center!important;
	background-size:16px 16px!important;
}
.calendar-prevyear {
	left: 3px!important;
	background: url('icon32/calendar_arrows_h.png') no-repeat -1px -2px!important;
	background-size:64px 16px!important;
}
.calendar-nextyear {
	right: 3px!important;
	background: url('icon32/calendar_arrows_h.png') no-repeat -49px -2px!important;
	background-size:64px 16px!important;
}
.calendar-prevmonth {
	left: 20px!important;
	background: url('icon32/calendar_arrows_h.png') no-repeat -18px -2px!important;
	background-size:64px 16px!important;
}
.calendar-nextmonth {
	right: 20px!important;
	background: url('icon32/calendar_arrows_h.png') no-repeat -34px -2px!important;
	background-size:64px 16px!important;
}
.searchbox-button,.icon-search{
	background:url('icon32/ZoomClassic_custom.png') no-repeat center center!important;
	background-size:16px 16px!important;
}
.tabs li a.tabs-close,.panel-tool-close {
	background: url('icon32/tabs_icons_h.png') no-repeat -34px center!important;
	background-size:48px 16px!important;
}
.icon-help{
	background:url('icon32/button-white-help.png') no-repeat center center!important;
	background-size:16px 16px!important;
}
.datagrid-sort .datagrid-sort-icon {
	display: inline!important;
	padding: 0 13px 0 0!important;
	background: url('icon32/datagrid_icons_h.png') no-repeat -64px center!important;
	background-size:80px 16px!important;
}
.datagrid-sort-desc .datagrid-sort-icon {
	display: inline!important;
	padding: 0 13px 0 0!important;
	background: url('icon32/datagrid_icons_h.png') no-repeat -16px center!important;
	background-size:80px 16px!important;
}
.datagrid-sort-asc .datagrid-sort-icon {
	display: inline!important;
	padding: 0 13px 0 0!important;
	background: url('icon32/datagrid_icons_h.png') no-repeat 0px center!important;
	background-size:80px 16px!important;
}
.layout-button-right {
  background: url('icon32/layout_arrows_h.png') no-repeat 0 -16px!important;
  background-size:32px 32px!important;
}
.layout-button-up {
  background: url('icon32/layout_arrows_h.png') no-repeat -16px -16px!important;
  background-size:32px 32px!important;
}
.layout-button-down {
  background: url('icon32/layout_arrows_h.png') no-repeat -16px 0!important;
  background-size:32px 32px!important;
}
.layout-button-left {
  background: url('icon32/layout_arrows_h.png') no-repeat 0 0!important;
  background-size:32px 32px!important;
}
.layout-button-right {
  background: url('icon32/layout_arrows_h.png') no-repeat 0 -16px!important;
  background-size:32px 32px!important;
}

/*修改原图标end*/

/*新增图标begin 2018-4-22 zz*/
.icon-FileSave-large{
	background:url('icon32/FileSave.png') no-repeat center center;
}
.icon-FileSave{
	background:url('icon32/FileSave.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-file{
	background:url('icon32/FileNew.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-file-large{
	background:url('icon32/FileNew.png') no-repeat center center;
}
.icon-Delete{
	background:url('icon32/Delete.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-Delete-large{
	background:url('icon32/Delete.png') no-repeat center center;
}
.icon-Recurrence{
	background:url('icon32/Recurrence.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-Recurrence-large{
	background:url('icon32/Recurrence.png') no-repeat center center;
}
.icon-FileSaveAs{
	background:url('icon32/FileSaveAs.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-FileSaveAs-large{
	background:url('icon32/FileSaveAs.png') no-repeat center center;
}
.icon-ExportExcel{
	background:url('icon32/ExportExcel.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-ExportExcel-large{
	background:url('icon32/ExportExcel.png') no-repeat center center;
}
.icon-ImportExcel{
	background:url('icon32/ImportExcel.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-ImportExcel-large{
	background:url('icon32/ImportExcel.png') no-repeat center center;
}
.icon-FileSaveAsExcelXlsx{
	background:url('icon32/FileSaveAsExcelXlsx.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-FileSaveAsExcelXlsx-large{
	background:url('icon32/FileSaveAsExcelXlsx.png') no-repeat center center;
}
.icon-Lock{
	background:url('icon32/Lock.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-Lock-large{
	background:url('icon32/Lock.png') no-repeat center center;
}
.icon-ChartTypePieInsertGallery{
	background:url('icon32/ChartTypePieInsertGallery.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-ChartTypePieInsertGallery-large{
	background:url('icon32/ChartTypePieInsertGallery.png') no-repeat center center;
}
.icon-ChartTrendline{
	background:url('icon32/ChartTrendline.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-ChartTrendline-large{
	background:url('icon32/ChartTrendline.png') no-repeat center center;
}
.icon-ChartTitle{
	background:url('icon32/ChartTitle.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-ChartTitle-large{
	background:url('icon32/ChartTitle.png') no-repeat center center;
}
.icon-ChartTypeLineInsertGallery{
	background:url('icon32/ChartTypeLineInsertGallery.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-ChartTypeLineInsertGallery-large{
	background:url('icon32/ChartTypeLineInsertGallery.png') no-repeat center center;
}
.icon-expand2{
	background:url('icon32/expand2_h.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-expand2-large{
	background:url('icon32/expand2_h.png') no-repeat center center;
}
.icon-contract2{
	background:url('icon32/contract2_h.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-contract2-large{
	background:url('icon32/contract2_h.png') no-repeat center center;
}
.icon-DeclineInvitation{
	background:url('icon32/DeclineInvitation.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-DeclineInvitation-large{
	background:url('icon32/DeclineInvitation.png') no-repeat center center;
}
.tabs-home32_1{
	background:url('icon32/home32_1.png') no-repeat center center;
	background-size:16px 16px;
}
.tabs-home32_1-large{
	background:url('icon32/home32_1.png') no-repeat center center;
}
.icon-ControlsGallery{
	background:url('icon32/ControlsGallery.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-ControlsGallery-large{
	background:url('icon32/ControlsGallery.png') no-repeat center center;
}
.icon-AdpPrimaryKey{
	background:url('icon32/AdpPrimaryKey.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-AdpPrimaryKey-large{
	background:url('icon32/AdpPrimaryKey.png') no-repeat center center;
}
.icon-NewContact{
	background:url('icon32/NewContact.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-NewContact-large{
	background:url('icon32/NewContact.png') no-repeat center center;
}
.icon-AdvertisePublishAs{
	background:url('icon32/AdvertisePublishAs.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-AdvertisePublishAs-large{
	background:url('icon32/AdvertisePublishAs.png') no-repeat center center;
}
.icon-button-white-help{
	background:url('icon32/button-white-help.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-button-white-help-large{
	background:url('icon32/button-white-help.png') no-repeat center center;
}
.icon-GetExternalDataFromText{
	background:url('icon32/GetExternalDataFromText.png') no-repeat center center!important;
	background-size:16px 16px!important;
}
.icon-GetExternalDataFromText-large{
	background:url('icon32/GetExternalDataFromText.png') no-repeat center center;
}
.icon-WindowsSwitch{
	background:url('icon32/WindowsSwitch.png') no-repeat center center!important;
	background-size:16px 16px!important;
}
.icon-WindowsSwitch-large{
	background:url('icon32/WindowsSwitch.png') no-repeat center center;
}
.icon-ChartEditDataSource{
	background:url('icon32/ChartEditDataSource.png') no-repeat center center!important;
	background-size:16px 16px!important;
}
.icon-ChartEditDataSource-large{
	background:url('icon32/ChartEditDataSource.png') no-repeat center center;
}
.icon-ZoomClassic_custom{
	background:url('icon32/ZoomClassic_custom.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-ZoomClassic_custom-large{
	background:url('icon32/ZoomClassic_custom.png') no-repeat center center;
}
.icon-Paste{
	background:url('icon32/Paste.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-Paste-large{
	background:url('icon32/Paste.png') no-repeat center center;
}
.icon-Copy{
	background:url('icon32/Copy.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-Copy-large{
	background:url('icon32/Copy.png') no-repeat center center;
}
.icon-trash_full{
	background:url('icon32/trash_full.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-trash_full-large{
	background:url('icon32/trash_full.png') no-repeat center center;
}
.icon-edit-cut{
	background:url('icon32/edit-cut.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-edit-cut-large{
	background:url('icon32/edit-cut.png') no-repeat center center;
	background-size:32px 32px;
}
.icon-CellsDelete{
	background:url('icon32/CellsDelete.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-CellsDelete-large{
	background:url('icon32/CellsDelete.png') no-repeat center center;
}
.icon-CellsInsertDialog{
	background:url('icon32/CellsInsertDialog.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-CellsInsertDialog-large{
	background:url('icon32/CellsInsertDialog.png') no-repeat center center;
}
.icon-TableDelete{
	background:url('icon32/TableDelete.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-TableDelete-large{
	background:url('icon32/TableDelete.png') no-repeat center center;
}
.icon-CopyToPersonalTaskList{
	background:url('icon32/TableDelete.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-CopyToPersonalTaskList-large{
	background:url('icon32/CopyToPersonalTaskList.png') no-repeat center center;
}

.icon-DesignMode{
	background:url('icon32/DesignMode.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-DesignMode-large{
	background:url('icon32/DesignMode.png') no-repeat center center;
}

.icon-PrintDialogAccess{
	background:url('icon32/PrintDialogAccess.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-PrintDialogAccess-large{
	background:url('icon32/PrintDialogAccess.png') no-repeat center center;
}
.icon-ViewsAdpDiagramPrintPreview{
	background:url('icon32/ViewsAdpDiagramPrintPreview.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-ViewsAdpDiagramPrintPreview-large{
	background:url('icon32/ViewsAdpDiagramPrintPreview.png') no-repeat center center;
}

.icon-AcceptChanges{
	background:url('icon32/AcceptChanges.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-AcceptChanges-large{
	background:url('icon32/AcceptChanges.png') no-repeat center center;
}

.icon-SaveSelectionToTableOfContentsGallery{
	background:url('icon32/SaveSelectionToTableOfContentsGallery.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-SaveSelectionToTableOfContentsGallery-large{
	background:url('icon32/SaveSelectionToTableOfContentsGallery.png') no-repeat center center;
}

.icon-light-bulb-on{
	background:url('icon32/light-bulb-on.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-light-bulb-on-large{
	background:url('icon32/light-bulb-on.png') no-repeat center center;
}
.icon-light-bulb-off{
	background:url('icon32/light-bulb-off.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-light-bulb-off-large{
	background:url('icon32/light-bulb-off.png') no-repeat center center;
}
.icon-arrow-down{
	background:url('icon32/arrow-down.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-arrow-down-large{
	background:url('icon32/arrow-down.png') no-repeat center center;
}

.icon-arrow-up{
	background:url('icon32/arrow-up.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-arrow-up-large{
	background:url('icon32/arrow-up.png') no-repeat center center;
}

.icon-GroupSortFilterDown{
	background:url('icon32/GroupSortFilterDown.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-GroupSortFilterDown-large{
	background:url('icon32/GroupSortFilterDown.png') no-repeat center center;
}

.icon-GroupSortFilterUp{
	background:url('icon32/GroupSortFilterUp.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-GroupSortFilterUp-large{
	background:url('icon32/GroupSortFilterUp.png') no-repeat center center;
}

.icon-GroupSortFilter{
	background:url('icon32/GroupSortFilter.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-GroupSortFilter-large{
	background:url('icon32/GroupSortFilter.png') no-repeat center center;
}

.icon-DeclineInvitationNull{
	background:url('icon32/DeclineInvitationNull.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-DeclineInvitationNull-large{
	background:url('icon32/DeclineInvitationNull.png') no-repeat center center;
}


.icon-datagrid_icons_h_down {
	display: inline!important;
	padding: 0 13px 0 0!important;
	background: url('icon32/datagrid_icons_h.png') no-repeat -16px center!important;
	background-size:80px 16px!important;
}

.icon-datagrid_icons_h_up {
	display: inline!important;
	padding: 0 13px 0 0!important;
	background: url('icon32/datagrid_icons_h.png') no-repeat 0px center!important;
	background-size:80px 16px!important;
}

/*新增图标end*/


/*.icon-arrow-out{
	background:url('icons/arrow-out.png') no-repeat center center;
}
.icon-arrow-in{
	background:url('icons/arrow-in.png') no-repeat center center;
}
.icon-home{
	background:url('icons/home.png') no-repeat center center;
}
.icon-cross{
	background:url('icons/cross.png') no-repeat center center;
}
.icon-contract{
	background:url('icons/contract.png') no-repeat center center;
}
.icon-expand{
	background:url('icons/expand.png') no-repeat center center;
}
.icon-expand2{
	background:url('icons/expand2_h.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-window-resize{
	background:url('icons/window-resize.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-trash_full{
	background:url('icons/trash_full.png') no-repeat center center;
	background-size:16px 16px;
}
*/
.icon-reload{
	background:url('icons/32/Recurrence.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-reload-large{
	background:url('icons/32/Recurrence.png') no-repeat center center;
}
.icon-cancel{
	background:url('icons/32/DeclineInvitation.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-cancel-large{
	background:url('icons/32/DeclineInvitation.png') no-repeat center center;
}


.icon-print{
	background:url('icons/32/FilePrint.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-save{
	background:url('icons/32/Save32.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-edit{
	background:url('icons/32/ViewsModeMenu.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-add{
	background:url('icons/32/glyph-add.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-remove{
	background:url('icons/32/glyph-remove.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-back{
	background:url('icons/32/arrow-left.png') no-repeat center center;
	background-size:16px 16px;
}
/*
.tree-expanded {
  background: url('images/tree_icons_h.png') no-repeat -18px 0px;
  background-size:272px 36px;
}
.tree-expanded-hover {
  background: url('images/tree_icons_h.png') no-repeat -50px 0px;
  background-size:272px 36px;
}

.tree-collapsed {
  background: url('images/tree_icons_h.png') no-repeat 0px 0px;
  background-size:272px 36px;
}
.tree-collapsed-hover {
  background: url('images/tree_icons_h.png') no-repeat -32px 0px;
  background-size:272px 36px;
}

.layout-button-up {
  background: url('images/layout_arrows_h.png') no-repeat -16px -16px;
  background-size:32px 32px;
}
.layout-button-down {
  background: url('images/layout_arrows_h.png') no-repeat -16px 0;
  background-size:32px 32px;
}
.layout-button-left {
  background: url('images/layout_arrows_h.png') no-repeat 0 0;
  background-size:32px 32px;
}
.layout-button-right {
  background: url('images/layout_arrows_h.png') no-repeat 0 -16px;
  background-size:32px 32px;
}
*/


.icon-tip{
	background:url('icons/32/light-bulb-on.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-ok{
	background:url('icons/32/SharingRequestAllow.png') no-repeat center center;
	background-size:16px 16px;
}
/*
.combo-arrow {
	background: url('images/combo_arrow_h.png') no-repeat center center;
	background-size:16px 16px;
	background-color: #E0ECFF;
}
.datebox .combo-arrow {
	background-image: url('images/datebox_arrow_h.png');
	background-position: center center;
	background-size:16px 16px;
}
*/
.icon-cut{
	background:url('icons/32/edit-cut.png') no-repeat center center;
	background-size:16px 16px;
}
/*
.panel-tool-close{
	background:url('icons/32/GroupHeaderFooterClose.png') no-repeat center center;
	background-size:16px 16px;
}
*/
.icon-GroupShapeStyles{
	background:url('icons/32/GroupShapeStyles.png') no-repeat center center;
	background-size:16px 16px;
}
.icon-user_custom{
	background:url('icons/32/user_custom.png') no-repeat center center;
	background-size:16px 16px;
}