div{
	font-family:微软雅黑;
}
.homelogo{
	width:60px;
    position:absolute;
	left:10px;
	bottom:-10px;
	filter:alpha(opacity=0);
	-webkit-filter:opacity(0);
}
.hometitle{
    position:absolute;
	left:10px;
	bottom:1px;
	color:#fff;
	font-size:16px;
}
.homeversion{
    position:absolute;
	left:50px;
	bottom:2px;
	color:#dddddd;
	font-size:10px;
}
.hometitlethemesbtn{
    position:absolute;
	right:30px;
	bottom:2px;
}
.homedelbtn{
    position:absolute;
	right:2px;
	bottom:2px;
}
.browser-functionbtn{
    position:absolute;
	right:1px;
}
.lines-both .datagrid-body td{
}
.lines-no .datagrid-body td{
	border-right:1px dotted transparent;
	border-bottom:1px dotted transparent;
}
.lines-right .datagrid-body td{
	border-bottom:1px dotted transparent;
}
.lines-bottom .datagrid-body td{
	border-right:1px dotted transparent;
}
.datagrid-header-rownumber,.datagrid-cell-rownumber{
	width:40px!important;
}
.tabs-tool{
	border-bottom:0px!important;
	border-right:0px!important;
}
.tabs-scroller-right{
	border-bottom:0px!important;
	border-right:0px!important;
}
.tabs-scroller-left{
	border-bottom:0px!important;
	border-left:0px!important;
}